* {
    font-family: 'Roboto', sans-serif;
}

.blue-bg {
    background-color: #017bff;
}

.white-font {
    color: #fff3ff;
}

.heading {
    font-size: 52px;
}

.sub-heading {
    font-size: 21px;
    color: #70b7f7;
}

.head-block {
    padding-top: 105px;
    padding-bottom: 100px;
}

.p-heading {
    font-size: 30px;
}

.info {
    margin-top: 56px;
}

.link {
    color: blue;
}

.card-container {
    margin-top: 50px;
}

.img-card {
    height: 200px;
    width: 300px;
}

.img-div {
    margin-top: 85px;
    background-image: url("../images/geometric-1732847_1920.jpg");
    height: 378px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.big-text {
    font-size: 35px;
}

.sub-text {
    font-size: 24px;
}

.pricing {
    margin-top: 95px;
}

.pricing-title {
    font-size: 50px;
    left: 12px;
}

.sub-pricing-sub {
    font-size: 20px;
}

.price-cards {
    margin-top: 45px;
}

.card-head {
    font-size: 24px;
}

.dollar {
    font-weight: bold;
    font-size: 35px;
}

.month {
    font-size: 25px;
    color: #555964;
}

.footer {
    margin-top: 130px;
}

.footer-elements {
    margin-top: 45px;
    margin-bottom: 50px;
}

.copyright {
    font-size: 10px;
    color: #7b7c7e;
}

.footer-titles {
    font-weight: bold;
    font-size: 15px;
}